---
layout: layouts/wrapper.liquid
title: Blog
permalink: /blog/
---

<h1 class="text-orange !text-3xl sm:!text-4xl md:!text-5xl">Blogbeiträge auf einen Blick</h1>

<ul class="list-none !mx-0 !mb-0 !mt-8 grid gap-8">
  {% assign articlesOrderedByDate = collections.blog %}

  {% for article in articlesOrderedByDate reversed %}
    <li>
      {% include partials/article-card.liquid,
        url: article.url,
        title: article.data.title,
        abstract: article.data.subtitle,
        date: article.date
        has-thumb: false %}
    </li>
  {% endfor %}
</ul>
