---
layout: layouts/wrapper.liquid
title: Kontakt
---

<div class="mx-auto my-24 border-b border-t border-blue text-center w-128 p-8">
    <h2 class="text-blue">Mail Versand</h2>
    <p>Vielen Dank für Ihre Kontaktaufnahme.</p>
    <p>Wir haben Ihre Nachricht erhalten und werden uns bald mit Ihnen in Verbinund setzen.</p>
</div>