---
layout: layouts/wrapper.liquid
title: Kontakt
---

<h1 class="text-blue">Kontakt</h1>

<br>
<br>

<div class="mx-auto my-24 border-b border-t border-blue text-center w-128 p-8">
    <h2 class="text-blue">Mail versendet</h2>
    <p>Vielen Dank für Ihre Kontaktaufnahme.</p>
    <p>Wir haben Ihre Nachricht erhalten und werden uns bald mit Ihnen in Verbindung setzen.</p>
</div>