---
defaultTitle: freemove
defaultAbstract: "Transdisziplin채re Erforschung der Datenschutz-bewussten Verf체gbarmachung von Bewegungsdaten f체r nachhaltige urbane Mobilit채t"
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}{{ defaultTitle }}</title>
    <link rel="stylesheet" href="/assets/css/style.compiled.css" />
    <link rel="stylesheet" href="/assets/css/burger.css" />

    {% include partials/icon-head.liquid %}
    {% include partials/social-head.liquid %}

  </head>

  <body>
    {% include partials/tracking.liquid %}
    {% include partials/header.liquid %}
    <main class="w-full">
      {{ content }}
    </main>
    {% include partials/footer.liquid %}
  </body>
</html>
