---
defaultTitle: freemove
defaultAbstract: "TODO:"
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% if title %}{{ title }} | {% endif %}{{ defaultTitle }}</title>
    <link rel="stylesheet" href="/assets/css/style.compiled.css" />
    <link rel="stylesheet" href="/assets/css/burger.css" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" href="/icon.svg" type="image/svg+xml" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TSBBerlin" />
    <meta name="twitter:title" content="freemove" />
    <meta name="twitter:description" content="Transdisziplin채re Erforschung der Datenschutz-bewussten Verf체gbarmachung von Bewegungsdaten f체r nachhaltige urbane Mobilit채t" />
    <meta name="twitter:image" content="https://www.freemove.space/assets/images/freemove-logo-twitter.png" />
    <meta name="twitter:image:alt" content="Logo of freemove" />
  </head>

  <body>
    {% include partials/header.liquid %}
    <main class="w-full">
      {{ content }}
    </main>
    {% include partials/footer.liquid %}
  </body>
</html>
