@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-ExtraBold.ttf")
      format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed SemiCond";
    src: url("/assets/fonts/SairaSemiCondensed-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-ExtraLight.ttf")
      format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Saira SemiCondensed";
    src: url("/assets/fonts/SairaSemiCondensed-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  h1 {
    @apply text-4xl md:text-6xl font-semibold;
  }

  h2 {
    @apply text-base sm:text-xl md:text-2xl font-semibold;
  }

  h3 {
    @apply text-sm sm:text-lg md:text-xl font-medium;
  }

  p {
    @apply text-blue leading-relaxed md:leading-loose md:tracking-wide md:text-lg py-2;
  }

  ul {
    @apply list-disc text-blue m-2 tracking-wide ml-4;
  }
}

@layer components {
  .component-container {
    @apply mx-8 md:ml-vw max-w-screen-md;
  }

  .component-arrow {
    @apply border-black w-4 h-4 transform cursor-pointer active:scale-90;
  }

  .component-right-arrow {
    @apply component-arrow border-b-2 border-r-2 -rotate-45;
  }

  .component-left-arrow {
    @apply component-arrow border-b-2 border-l-2 rotate-45;
  }

  .component-down-arrow {
    @apply component-arrow border-b-2 border-l-2 -rotate-45;
  }

  .component-up-arrow {
    @apply component-arrow border-t-2 border-l-2 rotate-45;
  }

  .component-school {
    @apply border-b border-green pb-16;
  }

  .component-school :is(h1, h2) {
    @apply text-green;
  }

  .component-school > div {
    @apply hidden sm:flex items-center my-8 md:px-4 text-green;
  }

  .component-school > div > p {
    @apply w-3/12 mr-4 md:mr-8;
  }

  .component-school > p {
    @apply pt-8 sm:pt-4;
  }

  .component-partner {
    @apply flex flex-col sm:flex-row items-center mt-16 mb-4 sm:mb-16 text-green relative px-16 md:px-8;
  }

  .component-partner > p {
    @apply w-1/2 mb-4 sm:w-1/3 sm:mr-8 sm:mb-0;
  }
  .component-partner > p > img {
    @apply rounded-full;
  }

  .component-partner > div > h2 {
    @apply text-2xl text-center sm:text-left;
  }

  .component-partner > div > h3 {
    @apply text-xl text-center sm:text-left;
  }

  .component-partner > div > p {
    @apply text-lg text-center sm:text-left text-green p-0;
  }

  .component-contact > p {
    @apply border-b border-blue w-full;
  }
 

  .component-contact > p > input {
    @apply p-2 text-sm placeholder-blue outline-none w-full;
  }
  .component-contact > p > textarea {
    @apply p-2 text-sm placeholder-blue outline-none w-full resize-none h-64;
  }
  .component-navbar-mobile {
    @apply flex flex-col text-blue h-0 md:hidden;
  }
  .component-navbar-mobile > div {
    @apply px-8 py-4 text-xl;
  }
}

@layer utilities {
  @variants responsive {
    .ml-vw {
      margin-left: 23.33vw;
    }

    .nav-font-size {
      font-size: 1.33vw;
    }
  }
}
