---
layout: layouts/wrapper.liquid
title: Eventkalender
permalink: /calendar/
---

<h1 class="text-purple">Events</h1>
<div class="relative text-purple">
  <h2 class="mt-12 text-4xl">2021</h2>
  <ul class="list-none ml-0 mt-6">
    <li class="py-8 border-t border-b border-purple">
      <div class="flex">
        <div class="block">
          <div class="text-4xl font-medium">05.11.</div>
          <div class="mt-2">15:30 - 16:30</div>
        </div>
        <div class="ml-10">
          <h3 class="text-4xl font-medium">Berlin Science Week</h3>
          <div>
            <p class="leading-7">
              Podiumsdiskussion 15:30 - 16:30 Uhr. <br />
              Anschließend: Austausch in der CityLAB Pixelwelt.
            </p>
            <a
              class="
                border border-blue
                text-xl
                py-1
                px-4
                mt-2
                inline-block
                hover:no-underline
                hover:bg-blue hover:text-white
              "
              href="https://us02web.zoom.us/webinar/register/9316348210431/WN_TlZyOdecRc2Pih6no8PpPQ"
              target="_blank"
              noopener
              noreferrer
            >
              Zur Registrierung
            </a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
