---
layout: layouts/wrapper.liquid
title: Eventkalender
permalink: /calendar/
---

<h1 class="text-purple">Events</h1>

<div class="relative">
  {% for yearWithEvents in collections.events_by_year reversed %}
  <h2 class="mt-12 text-3xl md:text-4xl text-purple">{{ yearWithEvents.year }}</h2>
  <ul class="list-none ml-0 mt-6 border-t border-purple">
    {% for event in yearWithEvents.events reversed %}
    <li class="py-4 md:py-8 border-b border-purple">
      {% if event.templateContent.length > 0 %}
        <details open>
          <summary class="list-none flex flex-wrap md:flex-nowrap cursor-pointer">
            {% include
              partials/event-card.liquid,
              title: event.data.title,
              subtitle: event.data.subtitle,
              date: event.data.date,
              time: event.data.time
              registerLink: event.data.registerLink,
              registerText: event.data.registerText
              has_details: true
            %}
          </summary>
          <div class="mt-2 md:mt-8 border-t border-purple">
            {{ event.templateContent }}
          </div>
        </details>
      {% else %}
      {% include
          partials/event-card.liquid,
          title: event.data.title,
          subtitle: event.data.subtitle,
          date: event.data.date,
          time: event.data.time
          registerLink: event.data.registerLink,
          registerText: event.data.registerText,
          has_details: false
        %}       
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</div>


