---
layout: layouts/root.liquid
---
<section class="px-8 py-16 md:py-24" style="background-image: url(/assets/images/home-background.png)">
    <div class="mx-auto max-w-screen-md">
        <h1 class="text-white font-normal">Privacy-Centered Urban Mobility Data</h1>
        <p class="text-white my-8">
            Das Potential der Analyse von Bewegungsdaten ist enorm, für die Bewältigung kritischer Probleme wie beispielsweise Epidemien und Katastrophen, aber auch für eine nachhaltige, menschzentrierte und umweltbewusste Stadt- und Verkehrsplanung. Demgegenüber stehen Herausforderungen, die mit der Verfügbarmachung solcher Bewegungsdaten verbunden sind: der rechtlich wie ethisch erforderliche hohe Schutz der Privatsphäre von Personen verlangt nach anspruchsvollen mathematischen und technischen Anonymisierungsverfahren.
        </p>
    </div>
</section>
<section class="px-8 my-8 md:my-16">
    <div class="mx-auto max-w-screen-md">
        <h1 class="text-orange font-normal">Forschungssprojekt</h1>
        <p class="my-8">
            Zwischen der Verwertbarkeit der Daten, beispielsweise für statistische und algorithmische Modellierungsverfahren einerseits, und dem Datenschutz- und dem Datensicherheitsbeürfnis des Einzelnen andererseits gibt es daher einen Trade-Off und es gilt “ein öffentlich akzeptables Gleichgewicht zwischen dem Zugang zu Informationen und dem Schutz der Privatsphäre herzustellen”.
        </p>
        <h1 class="text-blue font-normal">Veröffentlichungen</h1>
        <img class="my-8" src="/assets/images/home-walkway.png">
        <p class="my-8">
            Authorship in top ranked mathematical and physical journals: role of gender on self-perceptions and bibliographic evidence
            „Die Professur am Einstein Center Digital Future (ECDF) bietet mir das Beste aus beiden Welten“, zeigt sich Prof. Dr. Florian Tschorsch überzeugt. „Zum einen erhalte ich das klassische Forschungsumfeld einer Universität. Zum anderen kann ich viele Schnittstellen zu interessanten, interdisziplinären Forschungsansätzen nutzen, die man sich sonst oft erst langwierig erarbeiten muss.“
        </p>
        <h1 class="text-green font-normal">Projektpartner:innen</h1>
        <p class="my-8">
            Als transdisziplinäres Forschungsteam von Expert*innen aus den Bereichen Datenanalyse (HTW) und -visualisierung (FU, HTW), technischem (TU) und rechtlichem (UdK) Datenschutz, und Mensch-Computer-Interaktion (FU) sind wir in der Lage, die Problemstellung systemisch anzugehen, d.h. alle relevanten Dimensionen einzubeziehen. Die kontinuierliche aktive Integration von Bürger*innen, der Wirtschaft, Politik und Verwaltung in den werteorientierten Entwicklungsprozess wird durch das exzellente Netzwerk der Technologiestiftung Berlin (TSB) möglich gemacht. Die Beteiligung und Unterstützung von Statice.io, DLR und der BVG, sowie die Einbindung dreier am Vorhaben beteiligter Professor*innen in den private-public Research-Nucleus Einstein Center Digital Future (ECDF) stellen eine starke Einbindung privatwirtschaftlicher Stakeholder in das Projektvorhaben sicher.
        </p>
    </div>
</section>
