---
layout: layouts/root.liquid
---

<section
  class="py-16 md:py-24 relative bg-blue bg-cover"
  style="z-index: -2; background-image: url(/assets/images/home-background.jpg);"
>
  <div class="component-container">
    <h1 class="text-white">freemove</h1>
    <p class="text-white font-semibold my-2">
      Transdisziplinäre Erforschung der Datenschutz-bewussten Verfügbarmachung von Bewegungsdaten für nachhaltige urbane Mobilität 
    </p>
    <p class="text-white my-4">
      freemove ist ein vom BMBF gefördertes, transdisziplinäres Projekt zur Erforschung von Mobilitätsdaten. Die Forschungsgruppe vereint die Kompetenzen von universitäre und praktischen Partner:innen aus den Bereichen Machine Learning, digital Selbstbestimmung, Human-Centered Computing und Informationssicherheit.
    </p>
    <p class="text-white my-4">
      Das Projektteam wird auf wissenschaftlicher Seite von Fachgebieten der Hochschule für Technik & Wirtschaft Berlin, der Freien Universität Berlin, der Technischen Universität Berlin und der Universität der Künste Berlin gestellt. Die praxisorientierten Partner:innen des Deutschen Zentrum für Luft- und Raumfahrt und der Technologiestiftung Berlin erweitern diese wissenschaftliche Perspektive mit einem Fokus auf Fragen der Umsetzung und Stakeholder Einbindung.
    </p>
  </div>
</section>
<section class="my-8 md:my-16">
  <div class="component-container">
    <h1 class="text-orange">Projektziel</h1>
    <p class="my-8">
      In den kommenden drei Jahren ist es Ziel des Projektes, ein wissenschaftlich fundiertes Framework zu entwickeln, welches die Anforderungen an eine faire, nützliche, sichere und verständliche Bereitstellung von Bewegungsdaten für öffentliche und private Anwender:innen konkretisiert.
    </p>
    <h1 class="text-blue">Ausgangssituation & Forschungsfragen</h1>
    <p class="mt-4">
      Das Potential der Analyse von Bewegungsdaten ist enorm für die Bewältigung kritischer Probleme wie beispielsweise Epidemien und Katastrophen, aber auch für eine nachhaltige, menschzentrierte und umweltbewusste Stadt- und Verkehrsentwicklung. Dem stehen Herausforderungen, die mit der Verfügbarmachung solcher Bewegungsdaten verbunden sind, gegenüber: der rechtlich wie ethisch erforderliche hohe Schutz der Privatsphäre von Personen verlangt anspruchsvolle mathematische und technische Anonymisierungsverfahren.
    </p>
    <p>
      Die Verwertbarkeit der Daten, beispielsweise für statistische und algorithmische Modellierungsverfahren (Nutzbarkeit) einerseits und das Bedürfnis nach Datenschutz und Datensicherheit stehen in einem Zielkonflikt. Um Abwägungen zu ermöglichen, müssen zunächst eine Reihe von Fragen beantwortet werden:
    </p>
    <p>
      <i>Wie lässt sich das Risiko einer Deanonymisierung, bezüglich der Daten und dem Kontext, in dem sie entstehen und verwendet werden, zuverlässig schätzen und bewerten?</i>
    </p>
    <p>
      <i>Wie können technische Verfahren zur Anonymisierung der Daten den Nutzer*innen vermittelt werden?</i
      >
    </p>
    <p>
      <i>Wie lassen sich die Vorstellungen und Werte von Bürger:*innen, die ihre Daten zur Verfügung stellen, in dem Prozess der Verfügbarmachung berücksichtigen?</i>
    </p>
    <p>
      Durch die Datenschutz-bewusste Erhebung von Mobilitätsverhalten, welche in diesem transdisziplinären Vorhaben entwickelt und in Feldstudien erprobt werden sollen, können neue Forschungs- und Entwicklungsvorhaben gestützt werden.
    </p>
  </div>
</section>
