---
layout: layouts/wrapper.liquid
title: Forschungsprojekt
permalink: /project/
---

<h1 class="text-orange">Forschungssprojekt</h1>
<p class="my-8">
  Zwischen der Verwertbarkeit der Daten, beispielsweise für statistische und
  algorithmische Modellierungsverfahren einerseits, und dem Datenschutz- und dem
  Datensicherheitsbeürfnis des Einzelnen andererseits gibt es daher einen
  Trade-Off und es gilt “ein öffentlich akzeptables Gleichgewicht zwischen dem
  Zugang zu Informationen und dem Schutz der Privatsphäre herzustellen”.
</p>