<a
  href="{{ link }}"
  class="w-40 h-40 lg:w-48 lg:h-48 mb-8 p-8 relative lg:absolute lg:top-20 xl:top-24 lg:left-10 xl:left-20 order-last lg:order-first flex place-content-center place-items-center bg-orange rounded-full no-underline text-white text-lg font-semibold text-center leading-snug -rotate-12 z-10 focus:outline-none focus:ring-4 focus:ring-white focus:ring-offset-0"
>
  {{ text }}
</a>
