<div class="w-full flex justify-items-center">
  <div class="flex flex-col mr-16 lg:mr-24">
    <span class="w-full block text-xs text-gray-700">Ein Projekt der:</span>
    <a
      class="w-12 my-8 mx-4"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.technologiestiftung-berlin.de/"
    >
      <img
        src="/assets/images/tsb-logo.svg"
        alt="Logo of the Technology Foundation Berlin"
      />
    </a>
  </div>
  <div class="flex flex-wrap items-center flex-col md:flex-row w-32 md:w-full">
    <span class="w-full block text-xs text-gray-700">Gefördert von:</span>
    <a
      class="my-8 md:mr-8 md:w-2/12"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.statice.ai/"
    >
      <img
        src="/assets/images/statice-logo.png"
        alt="Logo of Statice"
      />
    </a>
    <a
      class="my-8 md:mr-8 w-8/12 md:w-1/12 "
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.tu.berlin/"
    >
      <img
        src="/assets/images/tub-logo.svg"
        alt="Logo of the Technical University of Berlin"
      />
    </a>
    <a
      class="my-8 md:w-1/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.htw-berlin.de/"
    >
      <img
        src="/assets/images/htw-logo.jpg"
        alt="Logo of the University of Applied Sciences"
      />
    </a>
    <a
      class="my-8 w-8/12 md:w-1/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.dlr.de/"
    >
      <img
        src="/assets/images/dlr-logo.svg"
        alt="Logo of the German Aerospace Center"
      />
    </a>
    <a
      class="my-8 md:w-2/12 md:mr-8"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.udk-berlin.de/"
    >
      <img
        src="/assets/images/udk-logo.svg"
        alt="Logo of the Berlin University of the Arts"
      />
    </a>
    <a
      class="my-8 md:w-2/12"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.fu-berlin.de/"
    >
      <img
        src="/assets/images/fub-logo.svg"
        alt="Logo of the Free University of Berlin"
      />
    </a>
  </div>
</div>
