<div class="w-full flex">
  <div class="flex flex-col mr-16 md:mr-24">
    <span class="w-full block text-xs text-gray-700">Ein Projekt der:</span>
    <a class="w-12 my-8 mx-4" href="https://www.technologiestiftung-berlin.de/">
      <img
        src="/assets/images/tsb-logo.svg"
        alt="Logo of the Technology Foundation Berlin"
      />
    </a>
  </div>
  <div class="flex flex-wrap items-center justify-around">
    <span class="w-full block text-xs text-gray-700">Gefördert von:</span>
    <a class="w-64 my-8 mr-16" href="https://www.udk-berlin.de/">
      <img
        src="/assets/images/udk-logo.svg"
        alt="Logo of the Berlin University of the Arts"
      />
    </a>
    <a class="w-48 my-8 mr-16" href="https://www.fu-berlin.de/">
      <img
        src="/assets/images/fub-logo.svg"
        alt="Logo of the Free University of Berlin"
      />
    </a>
    <a class="w-20 my-8 mr-16" href="https://www.tu.berlin/">
      <img
        src="/assets/images/tu-logo.svg"
        alt="Logo of the Technical University of Berlin"
      />
    </a>
    <a class="w-20 my-8 mr-16" href="https://www.htw-berlin.de/">
      <img
        src="/assets/images/htw-logo.jpg"
        alt="Logo of the University of Applied Sciences"
      />
    </a>
    <a class="w-16 my-8 mr-16" href="https://www.dlr.de/">
      <img
        src="/assets/images/dlr-logo.svg"
        alt="Logo of the German Aerospace Center"
      />
    </a>
  </div>
</div>
