---
layout: layouts/wrapper.liquid
permalink: "/partners/{{schoolFullName[tags][0] | slug}}/{{name | slug}}/index.html"
---

<div class="relative text-green">
  {% include partials/partner-sidebar.liquid %}
  {{ content }}
</div>

