<a
  href="/blog/tag/{{ tag | slug }}"
  aria-label="Alle Beiträge zum Thema {{ tag }}"
  class="inline-flex max-w-full truncate no-underline rounded-md bg-blue bg-opacity-20 text-blue hover:bg-opacity-100 hover:text-white transition-colors py-1 px-2"
  title="{{ tag }}"
>
  <span class="inline-block truncate">{{ tag }}</span>
</a>
